.footer-inner{
  /*color: #ffffff;*/
  a{
    /*color: #ffffff;*/
  }
}
.home{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .home {
    padding-left: 20px !important;
    padding-right: 20px !important;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .left{
    width: 100%;
    margin: 20px;
  }
  .right{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content:center;
  }

}
@media (min-width: 768px) {
  .home{
    max-width: 720px;
    flex-direction: row;
  }
  .left{
    width: 30%;
    margin: 20px;
  }
  .right{
    width: 70%;

    margin: 20px;
    display: flex;
    justify-content:space-between;
  }
}
@media (min-width: 992px) {
  .home {
    max-width: 960px;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .home {
    max-width: 1140px;
    flex-direction: row;
  }
}
